body {
  background-image: url(imgs/joebidenchair.jpg);
  background-repeat: no-repeat;
  background-size: 120% 145%;
  background-position: center;
  animation-name: background;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 0;
}

@media screen and (max-width: 1460px) {
  body {
    background-image: url(joebidenchair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: none;
  }
}

.img-fluid {
  width: 180px;
}

strong {
  font-weight: bold;
}

.white {
  height: 800px;
  background-color: #ffffff;
  margin-top: 600px;
  margin-bottom: 200px;
  padding-top: 70px;
}

h1 {
  font-family: "samantha-upright", sans-serif;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  text-align: center;
  color: white;
  margin-top: 450px;
  animation-duration: 3s;
  animation-name: slide-in;
  text-shadow: 3px 2px 5px rgb(65, 22, 255);
}
h4 {
  margin-top: 260px;
  color: white;
  font-family: "samantha-upright", sans-serif;
  font-weight: 200px;
  font-style: normal;
  font-size: 70px;
  text-shadow: 3px 2px 5px rgb(65, 22, 255);
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "margot", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 5px #d2b48c;
}

.card {
  width: 400px;
  border: solid #d2b48c 2px;
  box-shadow: 4px 4px 4px black;
}

@keyframes background {
  from {
    background-size: 120% 145%;
  }
  to {
    background-size: 100% 125%;
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 1s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 1s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 1s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
