body {
  background: url(imgs/joebidenforpresident.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  margin-top: 200px;
  text-align: center;
  font-family: "macho", sans-serif;
  font-weight: 400;
  font-style: normal;
}
